<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="signup" method="POST">
        {% csrf_token %}
    Username:<input type="text" name="username"><br>
    firstName:<input type="text" name="firstname"><br>
    lastName:<input type="text" name="lastname"><br>
    Email:<input type="email" name="email"><br>
    Password:<input type="password" name="passwor"><br>
    <input type="submit">
    </form>
</body>
</html>