{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Home</title>
{% endblock title %}
{% block body %}
  <main class="container my-3">
  <img src="{% static "image/blogging.png" %}" style='width:98%; height:440px;'>

  <div class="row mb-2">
    <div class="col-md-6">
    {%for blog in blogs %}
      <div class="row g-2 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{blog.title}}</h3>
          <div class="mb-1 text-muted">{{blog.date}}</div>
          <p class="card-text mb-auto">{{blog.des}}</p>
          <a href="blog_details/{{blog.id}}" class="stretched-link btn-success">Continue reading</a>
        </div>
        {% endfor %}
      </div>
      
    </div>
  
{% endblock body %}