<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>First Dajngo project
    </h1>
    {% for i in product %}
    <table>
        <tr>
            <td>
                <h4>{{i.name}}</h4>
            </td>
            <td>
                <h4>{{i.catogery.name}}</h4>
            </td>
            <td>
                <h4>{{i.price}}</h4>
            </td>
        </tr>
    </table>




    {% endfor %}
</body>
</html>